
<div class="col-md-6">
    <h2> User Details</h2>
    <div class="container-fluid">   
   <a routerLink="/users"> List Users</a>
        <a style="margin-left:10px" routerLink="/add">Add User</a>
        <br/>
        <router-outlet></router-outlet>
        </div>
    
    <table class="table table-striped">
      <thead>
          <tr>
        <th class="hidden">Id</th>
        <th>Username</th>
        <th>Rights</th>
        <th></th>
       
      </tr>
    </thead>
      <tbody>
      <tr>
      <!-- *ngFor="let user of users"> -->
        <td class="hidden"></td>
        <td>siusior</td>
        <td>assaas</td>
        <td>asassa</td>
        <td>assaasfas</td>
        <td><button class="btn btn-success" (click)="addTeacherRights(user)"> Add Teacher Rights</button></td>
        <td><button class="btn btn-success" (click)="addStudentRights(user)"> Add Student Rights</button></td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>  
      </tr>
      
      </tbody>
     
    </table>
   
    </div>